{% extends 'base.html.twig' %}
 
{% block title %}User index{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">User Manager</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('index') }}"> 
                    Home 
                </a>
            </div>
            <div class="card-body">
                <a class="btn btn-outline-primary" href="{{ path('user_new') }}"> 
                    Create New User 
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>
                            <a
                                class="btn btn-outline-info"
                                href="{{ path('user_show', {'id': user.id}) }}">
                                Show
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
 
{% endblock %}